
* {
  background-color: rgb(109, 132,180);
    font-family: 'Open Sans', sans-serif;
}
.centered-layout {
	text-align: center;
	padding: 50px;
}

.resource-links {
  margin-top: 15px;
  
}

.resource-links a {
  background-color: aliceblue;
  border-radius: 25px;
  padding: 15px;
  color: black;
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	font-size: 18px;
  max-width: 300px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.resource-links a:hover {
  opacity: .6;
}



/* h2 de Photos.jsx */
h2 {
  padding: 10px;
  margin: 10px;
  font-weight: 400;
  color: black;
  background-color: transparent;
  font-size: 1.5rem;
  text-align: center;
}

/* .box de Photos.jsx */
.box {
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; 
  align-content: flex-start; 
  margin: 20px;
  padding-right: 40px; 
  border-radius: 20px;
  background-color: whitesmoke;


}
/* rounded-container de Photos.jsx */
.rounded-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0;
  background-color: rgba(182, 185,216,0.74);
  width: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  gap: 0.5rem;
  height: 250px;
  flex-wrap: wrap;
  border-radius: 10px; 
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  grid-auto-rows: auto;
  justify-content: center;
  background-color:transparent;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.grid-layout img:hover {
  opacity: .6;
}



.floating-text {
  font-weight: 600;
  background-color:transparent;
  font-size: 13px;
}

